---
---
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Minhas Linhas Favoritas</title>

  {% include headPadrao.html %}
  
</head>

<body>
  {% include header.html %}

  <div class="flex justify-center my-6">
    <input 
      type="text" 
      id="barraPesquisaFavoritos"
      placeholder="Pesquisar linha"
      class="w-full max-w-lg px-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-sptrans"
    />
  </div>

  <div class="max-w-5xl mx-auto bg-white rounded-xl shadow p-6 overflow-x-auto">
    <table class="min-w-full table-auto border-collapse">
      <thead>
        <tr class="bg-gray-100 font-bold text-gray-700">
          <th class="py-3 px-6 text-center w-1/3">Código</th>
          <th class="py-3 px-6 text-center w-2/3">Nome / Sentido</th>
        </tr>
      </thead>
      
      <tbody id="tabelaFavoritos">
        </tbody>
    </table>
    
  </div>

  <script src="../js/userMenu.js"></script>
  <script src="../js/mobile-navbar.js"></script>
  <script type="module" src="../js/favoritos.js"></script> 

</body>
</html>