<!-- Estilos -->
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
<link href="../css/output.css" rel="stylesheet">
<link rel="stylesheet" href="../css/userMenu.css"> <!-- CSS do menu do usuário -->

<!-- Fontes -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
  rel="stylesheet"
>

<!-- Ícones -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">

<div class="fixed z-[9999] bg-white border-sptrans border-6 px-7 py-5 content-center m-5 bottom-5 flex flex-col items-center max-w-3xl rounded-2xl shadow-2xl">
  <div class="text-4xl text-sptrans font-extrabold">
    <i class="fas fa-exclamation-circle z-[1000] animate-pulse"></i>
    Site em Manutenção
    <i class="fas fa-exclamation-circle z-[1000] animate-pulse"></i>
  </div>
  
  <div class="text-2xl text-black text-justify">Informamos que as funcionalidades do site estão <b class="text-sptrans">temporariamente desativadas</b> devido manutenção no serviço de hospedagem.</div>
  <div class="text-lg text-black/85 italic font-roboto-mono text-left">Retornaremos em breve!</div>
</div>
